<a href="https://colab.research.google.com/github/JKijonoka/Bootcamp_public/blob/main/Scaling_Unscaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Data preparation and insights
import pandas as pd
import numpy as np

In [6]:
# For this example we will create a dataframe with 4 rows and 4 columns (4*4 matrix)
data = pd.read_csv('nba.csv')
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [8]:
import joblib
import pandas as pd
from sklearn.preprocessing import StandardScaler

NUM_COLS = ["Number", "Age", "Weight", "Salary"]  # define explicitly (recommended)

scaler = StandardScaler()
scaler.fit(data[NUM_COLS])

artifact = {
    "scaler": scaler,
    "feature_names": NUM_COLS,     # order matters!
    "version": 1
}

joblib.dump(artifact, "scaler_artifact.joblib")

['scaler_artifact.joblib']

In [17]:
# in different space of work
import joblib
import pandas as pd

def apply_scaler(df: pd.DataFrame, artifact_path: str, inverse: bool = False) -> pd.DataFrame:
    art = joblib.load(artifact_path)
    scaler = art["scaler"]
    cols = art["feature_names"]

    # Ensure required columns exist
    missing = [c for c in cols if c not in df.columns]
    if missing:
        raise ValueError(f"Missing required columns for scaling: {missing}")

    # Align column order exactly
    X = df[cols]

    # Transform
    X_out = scaler.inverse_transform(X) if inverse else scaler.transform(X)
    print(X_out)

    # Put back into a copy of df
    out = df.copy()
    out[cols] = X_out
    return out

In [20]:
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [22]:
data_scaled.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,-1.108456,PG,-0.440701,6-2,-1.576454,Texas,0.552833
1,Jae Crowder,Boston Celtics,5.098980,SF,-0.440701,6-6,0.511666,Marquette,0.373979
2,John Holland,Boston Celtics,0.772585,SG,0.013927,6-5,-0.627308,Boston University,NaN
3,R.J. Hunter,Boston Celtics,0.647183,SG,-1.122644,6-5,-1.386625,Georgia State,-0.707214
4,Jonas Jerebko,Boston Celtics,-0.606845,PF,0.468556,6-10,0.359803,NaN,0.030118

In [21]:
data_unscaled.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0